<h1>Team</h1>
<p>Team Name: <%= @team_name %></p>
<p>Team Motto: <%= @team_motto %></p>

<h1>Heroes</h1>

<p>Hero Name: <%= @hero1_name %></p>
<p>Hero Power: <%= @hero1_power %></p>
<p>Hero Biography: <%= @hero1_bio %></p>

<p>Hero Name: <%= @hero2_name %></p>
<p>Hero Power: <%= @hero2_power %></p>
<p>Hero Biography: <%= @hero2_bio %></p>

<p>Hero Name: <%= @hero3_name %></p>
<p>Hero Power: <%= @hero3_power %></p>
<p>Hero Biography: <%= @hero3_bio %></p>